<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <ul class="nav navbar-top-links navbar-left">
                <li>
                    <%= link_to home_index_path do %>
                      <i class="fa fa-home fa-1x"></i><%= 'Home' %> 
                    <% end %>
                                       
                </li>
                <li>
                    <%= link_to suppliers_path do %>
                      <i class="fa fa-list fa-1x"></i><%= 'Fornecedores' %> 
                    <% end %>
                                       
                </li>
                <li>
                    <%= link_to products_path do %>
                      <i class="fa fa-database fa-1x"></i><%= 'Produtos' %> 
                    <% end %>
                                       
                </li>
                <li>
                    <%= link_to orders_path do %>
                      <i class="fa fa-shopping-cart fa-1x"></i><%= 'Pedidos' %> 
                    <% end %>
                                       
                </li>
                <li>
                    <%= link_to carriers_path do %>
                      <i class="fa fa-support fa-1x"></i><%= 'Transportadoras' %> 
                    <% end %>
                                       
                </li>
                
            </ul>
            <!-- /.navbar-top-links -->

           
        </nav>
        