
<div class="nested-fields">
  <div class="col-md-6">
  <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    
  </div>
  <div class="field">
      <%= f.label :reference %>
      <%= f.text_field :reference, class: "form-control" %>
  </div>
  <br>
  <div>
  <%= link_to_remove_association('Remover', f, class: "btn btn-danger btn-sm") %>
</div>
</div>
</div>
