 <script>
      $.notify("<%= notice %>", "success");
  </script>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Fornecedores</h2>
  </div>
      <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th><%= sort_link(@q, :name, "#{@suppliers.model.human_attribute_name('name')}" ) %></th>
                  <th><%= sort_link(@q, :description, "#{@suppliers.model.human_attribute_name('description')}" ) %></th>
                  <th><%= sort_link(@q, :city, "#{@suppliers.model.human_attribute_name('city')}" ) %></th>
                  <th><%= @suppliers.model.human_attribute_name("address") %></th>
                  <th><%= @suppliers.model.human_attribute_name("district") %></th>
                  <th><%= @suppliers.model.human_attribute_name("number") %></th>
                  <th colspan="2"></th>
                </tr>
              </thead>
              <tbody>
              <% @suppliers.each do |supplier| %>
                <tr>
                  <td><%= supplier.name %></td>
                  <td><%= supplier.description %></td>
                  <td><%= supplier.city %></td>
                  <td><%= supplier.address %></td>
                  <td><%= supplier.district %></td>
                  <td><%= supplier.number %></td>
                  <td><%= link_to t('buttons.show'), supplier,  class: "btn btn-info" %></td>
                  <td><%= link_to t('buttons.edit'), edit_supplier_path(supplier), class: "btn btn-primary" %></td>
                  <td><%= link_to t('buttons.destroy'), supplier, method: :delete, data: { confirm: t('messages.confirm') }, class: "btn btn-danger" %></td>
                </tr>
              <% end %>
              </tbody>
          </table>
          <div class="pull-right">
            
            <%= paginate @suppliers %>
          </div>
            <%= link_to 'Novo', new_supplier_path, class: "btn btn-success" %>
          </div>
                            <!-- /.table-responsive -->
      </div>
                        <!-- /.panel-body -->
</div>
                    <!-- /.panel -->
  
