<!DOCTYPE html>
<html>
  <head>
    <title>Gigapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    params[:controller] %>
    <%= javascript_include_tag params[:controller] %>
  </head>

  <body>
    <div class="container">
      <% if params[:controller] != "home" %> 
        <%= render partial: "layouts/shared/header" %>
      <% end %>
      
    <%= yield %>
   
  
  </div>
  </body>
  

</html>
